.home-carousel-caption {
    width: 40%;
    color: black;
    left: 60%;
    top: 0%;
    margin: -24px 0 0 12px;
}

.home__slide {
    text-align: start;
}

.home__slide-description {
    text-align: start;
}

.carousel-indicators {
    bottom: -34px;
}

.carousel-indicators [data-bs-target] {
    background-color: #ffffff;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev {
    left: 0;
}

@media screen and (min-width: 769px) {
    .home__slide {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .home-carousel-item {
        width: 100%;
        height: 50vh;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .home-carousel-item {
        width: 100%;
        height: 20vh;
        align-items: center;
    }
}