.add-news__form {
    width: 100%;
    padding: 4px;
    height: 100%;
}

.add-news__title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.add-news__label, .add-news__input {
    display: block;
}

.add-news__input {
    background-color: #eee;
	border: none;
	margin: 8px 0;
	width: 100%;
}

.add-news__description {
    height: 54px;
}

.news-img-label {
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    border: 1px solid lightblue;
}

.news-img-wrap {
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background-color: white;
}

.news-img-upload:before{
    content: "\f093";
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 160px;
    height: 160px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.news-img-upload:hover:before{
    opacity: 1;
}

.news-img {
    width: 160px;
    height: 160px;
    object-fit: contain;
}

.news-photo-upload-icon {
    position: absolute;
    background: rgb(11, 116, 229);
    color: #ffffff;
    font-size: 14px;
    width: 24px;
    height: 24px;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3px 3px;
}

.news-img-input {
    display: none;
    width: 100%;
    height: 100%;
}

.add-news-name-col {
    margin-left: 40%;
}

.ck.ck-editor {
    position: relative;
    width: 100%;
}

.ck.ck-content {
    height: 200px;
}